<div class="mt-4">
    <h3>Create New Product</h3>

 <form method="POST" action="/products/store" class="mt-4">
  <div class="form-group">
    <label for="Name">Products Name</label>
    <input type="text" class="form-control"  placeholder="Products Name">
   
  </div>
 <div class="form-group">
    <label for="Price">Products Price</label>
    <input type="number" class="form-control"  placeholder="Products Price">
   
  </div>

   <div class="form-group">
    <label for="Description">Products Description</label>
    <input type="text" class="form-control"  placeholder="Products Description">
   
  </div>
  <div class="form-group">
    <label for="Image">Products Image</label>
    <input type="text" class="form-control"  placeholder="Products Image">
   
  </div>

 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>